<mat-card class="description">
    <div >
      <h1>Score Card Configuration</h1>
    </div>
</mat-card>

<mat-card  *ngIf="courseInfo" class="specsContainer">
        <div class="courseSpecs">
          <h1 *ngIf="courseInfo" >{{ courseInfo.name }}</h1>
          <div class="courseForm" >
                <mat-radio-group aria-label="Select an option" [(ngModel)]="courseSpec.difficulty">
                    <mat-radio-button
                        class="difficulty"
                        *ngFor="let skill of courseInfo.holes[0].teeBoxes; let i = index" 
                        [value]="i">{{skill.teeType}}
                    </mat-radio-button>
                </mat-radio-group>

                <div style="background-color:#dadfea; width:100%; height:1px; margin:10px;"></div>

                <div class="numPlayersContainer">
                    <div class="numPlayersDisplay">Number of Players: {{ courseSpec.players.length }} </div>
                    <div class="numPlayersButtons">
                            <i class="fas fa-arrow-up" (click)="HandleNumPlayers(1)"></i>
                            <i class="fas fa-arrow-down" (click)="HandleNumPlayers(-1)"></i>
                    </div>
                </div>

                <div class="playersContainer">
                    <mat-form-field *ngFor="let player of courseSpec.players; let i = index"  class="playerInfo" appearance="fill" floatPlaceholder="always" color="accent">
                        <mat-label>Name</mat-label>
                        <input
                        matInput
                        [(ngModel)]="player.name"

                        class="playerName"
                        type="text"
                        placeholder="name"
                        [ngModelOptions]="{ standalone:true }"
                        />
                        <h3>Handicap</h3>
                        <mat-slide-toggle 
                            [(ngModel)]="player.handicap" 
                            [ngModelOptions]="{ standalone:true }"
                        ></mat-slide-toggle>
                    </mat-form-field>
                </div>

                <!-- TODO: change ngif to target if form is complete and numplayers.length > 0 -->
                <button *ngIf="courseSpec.players.length > 0"
                    mat-raised-button
                    type="submit"
                    color="secondary"
                    style="display: block;"
                    routerLink="/score-card"
                    (click)="generateCard()"
                >
                    Generate Scorecard
                </button>

            </div>
        </div>
</mat-card>
