mat-card {
  margin: 10px;
  background-color: #2a2a2a;
  color:white;
  display:flex;
  justify-content: center;
  border:2px solid white;
}


.courseContainer {
  display: flex;
  justify-content: center;
  width:90%;
  margin: 0 auto;
  flex-wrap: wrap;
  .course {
    height:300px;
    width:300px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    position: relative;
    img {
      border:2px solid white;
      box-shadow: 5px 5px 15px -1px #000000;
      height: 100%;
      width:100%;
      transition: .3s ease;
    }
    .content {
      text-align: center;
      transition: .5s ease;
      position: absolute;
      .test {
        opacity: 0;
        transition: .5s ease;
        background-color: #4CAF50;
        font-size: 20px;
        padding: 16px 32px;
        color: white;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }
}

.course:hover img {
  opacity: 0.3;
}

.course:hover .test {
  opacity: 1 !important;
}

.savedGames {
  margin: 20px;
  background-color:#3a3a3a;
  display:flex;
  justify-content:flex-start;
  flex-direction:column;
  align-items:center;
  .gameContainer {
    background-color:#2a2a2a;
    width: 80%;
    display:flex;
    align-items:center;
    border:2px solid #dadfea;
    border-radius: 5px;
    margin: 5px;
    mat-list-item {
      color:#dadfea;
      .playerNames {
        display:flex;
        align-items:center;
        .player {
          margin:5px;
        }
      }
    }
    .material-icons {
      font-size: 2em;
      margin-right:10px;
      color:grey;
    }
    .material-icons:hover {
      color:red;
    }
  }
}

.gameContainer:hover {
  background-color:#1d1d1df0 !important;
  cursor: pointer;
}